extends ../layout

block content

	h2 Actualizar Usuario

	br

	form(action=`/usuarios/${usuario.id}/update` method='post')
		.form-group
			label(for='nombre') Nombre
			input#nombre.form-control(type='text' name='nombre' value=usuario.nombre)
			if errors.nombre
				small#nombreHelp.text-danger 
					= errors.nombre.message
		
		a(href='/usuarios').btn.button.volver Volver
		input.btn.btn-success(type='submit' value='Actualizar').button